<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">RD</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
      <br>
    <div class="container">
      <form class="row g-3" action="/" method="POST">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">FirstName</label>
          <input type="text" class="form-control" name="firstname"  placeholder="Enter Name" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">LastName</label>
          <input type="text" class="form-control" name="lastname"  placeholder="Enter LastName" required>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" name="address"  placeholder="Enter Address" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form> 
      </div>
      <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <!-- {% if all_stud==0 %}
                no record found
        {% else %} -->
            {% for stud in all_stud %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{stud.firstname}}</td>
                <td>{{stud.lastname}}</td>
                <td>{{stud.Address}}</td>
                
                <!-- <td><form method="POST" action="{{ url_for('delete', id=stud._id) }}" >
                        <input type="submit" value="Delete"
                            onclick="return confirm('Are you sure you want to delete this entry?')"></td> -->
                <td><a href="{{ url_for('delete', id=stud._id) }}"><input type="submit" name="edit_btn" value="Delete"rel="tooltip" class="btn btn-danger">
                                <i class="material-icons"></i></input></a>
                    <a href="{{ url_for('update', id=stud._id) }}"><input type="submit" name="edit_btn" value="update"rel="tooltip" class="btn btn-primary">
                                    <i class="material-icons"></i></input></a></td>
            </tr>
            {% endfor %}
            <!-- {% endif %} -->
           
          
            <!-- {% for todo in todos %}
            <div class="todo">
                <p>{{ todo['content'] }} <i>({{ todo['degree']}})</i></p>
                <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                    <input type="submit" value="Delete Todo"
                           onclick="return confirm('Are you sure you want to delete this entry?')">
                </form> -->
            </div>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>